name = "epir-art-jewellery-worker"
main = "src/index.ts"
compatibility_date = "2025-09-30"

# Bindings
kv_namespaces = [
  { binding = "SESSIONS_KV", id = "08f16276a9b14ca7b3c00404e8e8d0d9" }
]

[[d1_databases]]
binding = "DB"
database_name = "epir_art_jewellery"
database_id = "6a4f7cbb-3c1c-42c7-9d79-4ef74d421f23"

[[durable_objects.bindings]]
name = "SESSION_DO"
class_name = "SessionDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["SessionDO"]

# AI binding
[ai]
binding = "AI"

[vars]
ALLOWED_ORIGIN = "*"

